{% extends "deplacements/base.html" %}

{% block content %}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Bienvenue !</h1>
    <p class="col-md-12 fs-4">
        Ce portail vous permet de noter vos déplacement dans le cadre de l’étude de mobilité du groupe sdplus. 
    </p>
    <p class="col-md-12 fs-4">   
        Le mode d’emploi peut être téléchargé ici ou dans la rubrique d’aide ci-dessus
    </p>
    <p class="col-md-12 fs-4">  
        Pour toute question, merci de contacter par courriel Mathieu Allaz, étudiant en charge du projet
      </p>
      <p class="col-md-12 fs-4"> 
        mathieu.allaz@master.hes-so.ch
      </p>
      <p class="col-md-12 fs-4"> 
        Merci beaucoup pour votre participation !
    </p>
  </div>
</div>
{% endblock content %}
