{% extends "deplacements/base.html" %}

{% block content %}
<div class="container-fluid py-8">
  <h1 class="display-5 fw-bold my-3">Bienvenue !</h1>
    <p class="col-md-12 fs-5">
        Ce portail vous permet de noter vos déplacements dans le cadre de l’étude de mobilité du groupe sdplus ayant lieu du 24 &#160;avril 2023 au 5&#160;mai 2023. 
    </p>
    <p class="lh-base fs-5">La page <a class="text-reset fw-bold" href="{% url 'infos_utilisateur' %}"> &#171&#160;Mes infos&#160;&#187;</a> vous permet de consulter et de saisir les informations générales vous concernant.
    </p>
    <p class="lh-base fs-5">La page <a class="text-reset fw-bold" href="{% url 'deplacements' %}">&#171&#160;Mes déplacements&#160;&#187;</a> vous permet de visualiser vos déplacements déjà saisis et de saisir un nouveau déplacement.
    </p>
    <p class="lh-base fs-5">La page <a class="text-reset fw-bold" href="{% url 'lieux' %}"> &#171&#160;Mes lieux&#160;&#187;</a> vous permet de visualiser vos lieux déjà saisis et de saisir un nouveau lieu.
    </p>
    <p class="lh-base fs-5">La page <a class="text-reset fw-bold" href="{% url 'consignes' %}"> &#171&#160;Consignes / aide&#160;&#187;</a> regroupe quelques consignes et informations concernant l'utilisation du portail.
    </p>
    <p class="col-md-12 fs-5">  
      Pour toute question, vous pouvez contacter Mathieu Allaz, étudiant en charge de l'étude, par courriel :
    </p>
    <p class="text-center col-md-12 fs-5"> 
      <a href="mailto:mathieu.allaz@master.hes-so.ch">mathieu.allaz@master.hes-so.ch</a>
    </p>
    <p class="text-end col-md-12 fw-semibold fs-5"> 
      Merci beaucoup pour votre participation !
    </p>
</div>

{% endblock content %}
